In [9]:
import pandas as pd
import string

In [10]:
# load the data for comparision

df1 = pd.read_csv('Menu.csv')
df2 = pd.read_csv('corrected_dataset.csv')

In [11]:
# check how many cells are changed

changes = df2['sponsor'] != df1['sponsor']
num_changes = changes.sum()

print(f'Number of cells changed: {num_changes}')

changed_cells = df1[changes][['sponsor']].head(20)

changed_cells = pd.DataFrame({
    'Original': df1['sponsor'][changes].head(20),
    'Modified': df2['sponsor'][changes].head(20)
})

#print(changed_cells)

Number of cells changed: 6333

In [12]:
# check how the number nan and empty 

num_nan1 = df1['sponsor'].isna().sum()
num_empty1 = (df1['sponsor'] == '').sum()
num_nan2 = df2['sponsor'].isna().sum()
num_empty2 = (df2['sponsor'] == '').sum()

print(f'Original: Number of NaN cells: {num_nan1}')
print(f'Original: Number of empty cells: {num_empty1}')
print(f'Modified: Number of NaN cells: {num_nan2}')
print(f'Modified: Number of empty cells: {num_empty2}')

Original: Number of NaN cells: 1561
Original: Number of empty cells: 0
Modified: Number of NaN cells: 1618
Modified: Number of empty cells: 0

In [13]:
# check if any cells are not either lower case, upper case or title case

def is_not_case_compliant(text):
    if pd.isna(text):  # Treat NaN values as compliant
        return False
    text = str(text)
    return not (text.isupper() or text.islower() or text.istitle())

num_non_compliant1 = df1['sponsor'].apply(is_not_case_compliant).sum()
num_non_compliant2 = df2['sponsor'].apply(is_not_case_compliant).sum()

print(f'Original: Number of cells not in upper case, lower case, or title case: {num_non_compliant1}')
print(f'Modified: Number of cells not in upper case, lower case, or title case: {num_non_compliant2}')

Original: Number of cells not in upper case, lower case, or title case: 1404
Modified: Number of cells not in upper case, lower case, or title case: 1687

In [15]:
# check how many unique cells

num_unique_values1 = df1['sponsor'].nunique()
num_unique_values2 = df2['sponsor'].nunique()

print(f'Original: Number of unique values in the sponsor column: {num_unique_values1}')
print(f'Modified: Number of unique values in the sponsor column: {num_unique_values2}')

Original: Number of unique values in the sponsor column: 6370
Modified: Number of unique values in the sponsor column: 6252

<bound method IndexOpsMixin.value_counts of 0                                            HOTEL EASTMAN
1                                         REPUBLICAN HOUSE
2                               NORDDEUTSCHER LLOYD BREMEN
3                               NORDDEUTSCHER LLOYD BREMEN
4                               NORDDEUTSCHER LLOYD BREMEN
                               ...
17540                                        Hotel LaSalle
17541                                            Dennett's
17542                                        The Cortlandt
17543             Hotel Schynige Platte und Hotel Bellevue
17544    Christmas Dinner, Troop F 19: Fort Huachuca, A...
Name: sponsor, Length: 17545, dtype: object>

In [24]:
# check the sponsors that have multiple location

location_counts1 = df1.groupby('sponsor')['location'].nunique()
multiple_locations1 = location_counts1[location_counts1 > 1]
num_sponsors_multiple_locations1 = multiple_locations1.count()

location_counts2 = df2.groupby('sponsor')['location'].nunique()
multiple_locations2 = location_counts2[location_counts2 > 1]
num_sponsors_multiple_locations2 = multiple_locations2.count()

print(f'Original: Number of sponsors with multiple locations: {num_sponsors_multiple_locations1}')
print(f'Modified: Number of sponsors with multiple locations: {num_sponsors_multiple_locations2}')

print("\nOriginal: Sponsors with multiple locations and their count of unique locations:")
print(multiple_locations1)

print("\nModified: Sponsors with multiple locations and their count of unique locations:")
print(multiple_locations1)

Original: Number of sponsors with multiple locations: 93
Modified: Number of sponsors with multiple locations: 156

Original: Sponsors with multiple locations and their count of unique locations:
sponsor
(AMERICAN LINE)                                 2
?                                              15
ALCAZAR HOTEL                                   2
BALTIMORE AND OHIO RR ROYAL BLUE LINE           2
BELVEDERE HOUSE;                                2
                                               ..
Unknown                                         3
VENDOME HOTEL                                   2
Waldorf-Astoria                                 2
[Restaurant And/Or Location Unknown]            2
[Restaurant Name And/Or Location Not Given]     9
Name: location, Length: 93, dtype: int64

Modified: Sponsors with multiple locations and their count of unique locations:
sponsor
(AMERICAN LINE)                                 2
?                                              15
ALCAZAR HOTEL                                   2
BALTIMORE AND OHIO RR ROYAL BLUE LINE           2
BELVEDERE HOUSE;                                2
                                               ..
Unknown                                         3
VENDOME HOTEL                                   2
Waldorf-Astoria                                 2
[Restaurant And/Or Location Unknown]            2
[Restaurant Name And/Or Location Not Given]     9
Name: location, Length: 93, dtype: int64